@font-face {
  font-family: 'Open Sans Bold'; /* Choose a name for your font family */
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype'), /* Replace with your font file path */
  /* Add other font properties if needed, like font-weight or font-style */
}

@font-face {
  font-family: 'Open Sans'; /* Choose a name for your font family */
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype'), /* Replace with your font file path */
  /* Add other font properties if needed, like font-weight or font-style */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  margin-left: auto; margin-right: auto;
}

h1 {
  font-size: 300px; /* Increase the font size of the main heading */
  font-family: Open Sans Bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8); /* Apply drop shadow */
}

p {
  font-size: 25px; /* Change the font size of the subheading */
  font-family: Open Sans, sans-serif; /* Set the font to Arial */
  color: gray;
}

.container {
  position: relative;
  height: 100vh;
  background-color: #235218; /* Green background */
  overflow: hidden;
}

.content {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1; /* Ensure content appears above the image */
}

.image-container {
  position: absolute;
  bottom: -250px; /* Adjust the initial position below the container */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s, bottom 1s; /* Transition properties */
  z-index: 0; /* Ensure image is behind the content */
}

.image-container img {
  width: 1500px; /* Increase the width of the image */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.links {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1; /* Ensure content appears above the image */
}

.links a {
  text-decoration: none;
  color: gray;
}

.links a i {
  font-size: 1.5em;
}

.subheading {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  text-align: center; /* Center-align the text */
  color: lightgray;
  font-size: 18px;
  opacity: 0;
  transition: opacity 1s, bottom 1s; /* Add transition for fade-in effect */
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For other browsers (except Firefox) */
*::-webkit-scrollbar {
  display: none;
}

.overlay {
  position: absolute;
  bottom: -550px;
  left: -1000px;
  transform: translateX(-50%);
  background-color: #225522; /* Dark green color */
  color: white;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 100px;
  border-radius: 20px;
  transition: left 1s ease; /* Transition for right property */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
}

.overlay h2 {
  font-size: 40px; /* Adjust the font size */
  font-family: Open Sans Bold; /* Set the font to Arial */
  color: #fff; /* Text color */
  text-align: left; /* Center align the text */
}

.overlay p {
  font-size: 20px; /* Adjust the font size */
  font-family: Open Sans; /* Set the font to Arial */
  color: #fff; /* Text color */
  text-align: left; /* Center align the text */
}

.overlay p2 {
  font-size: 10px; /* Adjust the font size */
  font-family: Open Sans; /* Set the font to Arial */
  color: #fff; /* Text color */
  text-align: left; /* Center align the text */
}

.footer {
  position: absolute;
  bottom: -700px;
  width: 100%;
  text-align: center;
  color: #777;
}

.footer p {
  font-size: 20px; /* Adjust the font size */
  font-family: Open Sans;
}

.second-image {
  position: absolute;
  bottom: -585px; /* Adjust the distance from the top */
  right: -200px; /* Initially position the image outside the viewport */
  transition: right 1s ease; /* Transition for right property */
}

.second-image img {
  width: 450px; /* Adjust the image width */
  height: auto;
  border: 5px solid black; /* Black border */
  border-radius: 10px; /* Optionally add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
}

.second-image .caption {
  font-size: 15px; /* Adjust the font size */
  font-family: Open Sans; /* Set the font to Arial */
  color: 'black;'; /* Text color */
  text-align: right; /* Center align the text */
}

.second-image a {
  text-decoration: none; /* Remove underline from the link */
}

@media screen and (max-width: 600px) {
  
  .image-container {
    position: absolute;
    bottom: -350px; /* Adjust the initial position below the container */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s, bottom 1s; /* Transition properties */
    z-index: 0; /* Ensure image is behind the content */
  }

  .image-container img {
    width: auto; /* Increase the width of the image */
    transform: scale(0.35, 0.4);
    height: -20px;
    margin: 0 auto; /* Center the image horizontally */
  }

  h1 {
    font-size: 100px; /* Increase the font size of the main heading */
    font-family: Open Sans Bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8); /* Apply drop shadow */
  }

  .links p {
    bottom: -300px;
    font-size: 10px;
    font-family: Open Sans Bold;
  }

  .links {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1; /* Ensure content appears above the image */
  }

  .links a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
  }

  .links a i {
    font-size: 5px;
  }

  .container {
    position: relative;
    height: 60vh;
    background-color: #235218; /* Green background */
    overflow: hidden;
  }

  .second-image {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -600px;
    opacity: 1;
    right: 50%;
    transform: translate(50%);
    transition: opacity 1s ease; /* Transition for right property */
  }

  .second-image img {
    position: absolute;
    width: 200px; /* Adjust the image width */
    height: 200px;
    bottom: 150px;
    border: 5px solid black; /* Black border */
    border-radius: 10px; /* Optionally add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
  }

  .second-image .caption {
    position: absolute;
    bottom: 100px;
    left: 35px;
    font-size: 20px; /* Adjust the font size */
    text-align: center; /* Center align the text */
  }

.overlay {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #225522; /* Dark green color */
  color: white;
  padding-bottom: 40px;
  width: 50%;
  transition: opacity 1s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.overlay h2 {
  font-size: 25px; /* Adjust the font size */
  font-family: Open Sans Bold; /* Set the font to Arial */
  color: #fff; /* Text color */
  text-align: left; /* Center align the text */
}

.overlay p {
  font-size: 15px; /* Adjust the font size */
  font-family: Open Sans; /* Set the font to Arial */
  color: #fff; /* Text color */
  text-align: left; /* Center align the text */
}

.overlay p2 {
  font-size: 10px; /* Adjust the font size */
  font-family: Open Sans; /* Set the font to Arial */
  color: #fff; /* Text color */
  text-align: left; /* Center align the text */
}

.footer {
  position: absolute;
  bottom: -700px;
  width: 50%;
  text-align: center;
  color: #777;
}

.footer p {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(50%);
  font-size: 20px; /* Adjust the font size */
  font-family: Open Sans;
}

}