@font-face {
  font-family: 'Open Sans'; /* Choose a name for your font family */
  src: url('OpenSans-Regular.ttf') format('truetype'), /* Replace with your font file path */
  /* Add other font properties if needed, like font-weight or font-style */
}
@font-face {
  font-family: 'Open Sans Bold'; /* Choose a name for your font family */
  src: url('OpenSans-Bold.ttf') format('truetype'), /* Replace with your font file path */
  /* Add other font properties if needed, like font-weight or font-style */
}

:root {
  --distance-outward: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #1f441f; /* Background color for the page */
  position: absolute;
  overflow: hidden;
}

.background-shape {
  position: fixed;
  left: 30%;
  width: 100%;
  height: 300%;
  bottom: -150%;
  background: linear-gradient(110deg, #fff, #f0f0f0); /* White tilted rectangle */
  transform: rotate(10deg); /* Opposite direction tilt */
  z-index: -1;
}

.background-shape::before {
  content: '';
  position: fixed;
  top: 0;
  left: -4%;
  width: 5%;
  height: 100%;
  background-color: #e0e0e0; /* Slightly darker variation */
  z-index: 1;
}

.search-container {
  width: 490px;
  z-index: 2;
  left: calc(75% - 245px - 50px);
  top: calc(40% - var(--distance-outward));
  position: absolute;
}

.search-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 2px solid black;
  background-color: lightgray;
}

input[type="text"] {
  padding: 12px;
  width: 400px; /* Larger search bar */
  height: 50px;
  border: none;
  outline: none; /* Remove the outline when focused */
  font-family: 'Open Sans', sans-serif; /* Different font */
  border-radius: 50px;
  background-color: lightgray;
  font-size: 30px;
}

button {
  padding: 12px;
  border-radius: 50px;
  border: none;
  background-color: #225522; /* Dark green background */
  color: white;
  cursor: pointer;
  width: 70px;
  height: 75px;
}

button:hover {
  background-color: #1a4014; /* Darker green on hover */
}

/* Styling for the search icon image */
button img {
  width: 20px;
  height: 20px;
}

.sidebar {
  position: fixed;
  left: -50%;
  top: calc(50% - 330px);
  height: 650px;
  width: 400px; /* Width of the sidebar */
  background-color: #111; /* Almost black */
  border-radius: 15px;
  color: white;
  padding: 20px;
  border: 2px solid black;
  transition: all 1.6s cubic-bezier(.24,0,0,.99);
}


.leaderboard-header {
  top: calc(50% - 380px);
  left: -50%;
  width: fit-content;
  padding: 10px;
  background-color: transparent;
  position: relative;
  display: inline-block;
  font-family: 'Open Sans Bold';
  font-size: 60px;
  color: white;
  transition: all 1s cubic-bezier(.24,0,0,.99);
  z-index: 1;
}

.leaderboard-header::before {
  position: fixed;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 75%;
  background-color: #225522;
  transform: skew(-20deg) translateY(calc(25% / 2)) translateX(-10px);
  z-index: -1; /* Places the parallelogram behind the text */
  border: 4px solid white;
}

.leaderboard-list {
  padding: 0;
}

.leaderboard-item {
  transform: translateY(40px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px; /* Adjust size of the avatar */
  height: 40px; /* Adjust size of the avatar */
  overflow: hidden;
  border-radius: 50%; /* Circular shape */
  margin-right: 10px;
  border: 2px solid black;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leaderboard-info a {
  text-decoration: none;
  color: white;
}

.leaderboard-info p {
  margin: 0;
}

/* Adjust padding and margin as needed */
.leaderboard-info {
  padding: 10px;
  background-color: #070707; /* Black box */
  border-radius: 8px; /* Rounded edges */
  border: 2px solid black;
}

.gold {
  background-image: linear-gradient(45deg, #ffd700, #ffa500); /* Gold gradient */
}
.gold a {
  color: black;
}

.silver {
  background-image: linear-gradient(45deg, #c0c0c0, #808080); /* Silver gradient */
}
.silver a {
  color: black;
}

.bronze {
  background-image: linear-gradient(45deg, #cd7f32, #8b4513); /* Bronze gradient */
}
.bronze a {
  color: black;
}

.github {
  position: fixed;
  top: calc(40% + var(--distance-outward));
  left: calc(75% - 50px);
  width: 550px;
  text-align: center;
  transform: translateX(-50%);
  color: white;
  z-index: 1; /* Ensure content appears above the image */
}

.github a {
  text-decoration: none;
  color: gray;
  font-family: Open Sans;
  font-size: 40px;
}

.user-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 20px;
  background-color: #225522;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Open Sans Bold';
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}