/* public/styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #151c12;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #235218;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1 {
  color: #77F23C;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}
