<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="agnab.site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://agnab.onrender.com/agnabot" />
  <meta property="og:image" content="/jasper.png" />
  <meta property="og:description" content="epic agnab website WOW" />
  <meta name="theme-color" content="#235218">
  <title>agnabot - agnab.site</title>
  <link rel="stylesheet" href="/agnabot.css">
</head>
<body>

 <div class="search-container">
  <input type="text" id="searchInput" placeholder="Search...">
  <button onclick="search()">Search</button>
</div>

<script>
  function search() {
    const query = document.getElementById('searchInput').value;
    window.location.href = `/search?query=${query}`;
  }
</script>

</body>
</html>
