<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="agnab.site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://agnab.onrender.com" />
  <meta property="og:image" content="/jasper.png" />
  <meta property="og:description" content="epic agnab website WOW" />
  <meta name="theme-color" content="#235218">
  <title>agnab websi</title>
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <div class="container">
    <section class="content">
      <h1>AGNAB</h1>
    </section>
    <div class="image-container">
      <img src="/agnabLogo.png" alt="agnab logo">
    </div>

  </div>

  <div class="links">
      <p class="subheading">
        <a href="https://www.youtube.com/channel/UCOM1RfwE9Zlj_p8umn7P_1A" target="_blank">
          <img src="youtube.png" alt="YouTube Logo" style="width: 50px; height: 35px; vertical-align: middle;">
          Youtube
        </a>
        |
        <a href="https://discord.gg/2JgqEMNfyr" target="_blank">
          <img src="discord.png" alt="Discord Logo" style="width: 50px; height: 50px; vertical-align: middle;">
          Discord
        </a>
        |
        <a href="/agnabot">
          <img src="agnabot.png" alt="Discord Logo" style="width: 50px; height: 50px; vertical-align: middle;">
          Agnabot
        </a>
      </p>
  </div>

  <div class="overlay">
      <div class="text">
        <h2>hallo</h2>
        <p>i'm agnab</p>
        <p>i use he/him pronouns</p>
        <p>amateur musician, artist, and coder</p>
        <p>i like ultrakill and minecraft</p>
        <p>my timezone is CST, or UTC-6</p>
        <p2>for business inquiries contact agnab712@gmail.com</p2>
      </div>
    </div>

  <div class="second-image">
      <img src="jasper.png" alt="jasper image HOT SEX">
    <a href="https://www.youtube.com/@lusterthesandwing0420" target="_blank">
      <p class="caption">image by luster</p>
    </a>
  </div>

  <div class="footer">
    <p>&copy; 2023 AGNAB</p>
  </div>

  <script src="home.js"></script>

</body>
</html>
