<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="agnab.site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://agnab.onrender.com" />
  <meta property="og:image" content="/jasper.png" />
  <meta property="og:description" content="epic agnab website WOW" />
  <meta name="theme-color" content="#235218">
  <title>agnab.onrender.com</title>
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>

<div class="top-container">
  <h1>AGNAB</h1>
  <img src="/images/LOGO.png" alt="logo" class="big-boi">
  <div class="links">
    <p class="subheading">
      <div class="link">
      <a href="https://www.youtube.com/channel/UCOM1RfwE9Zlj_p8umn7P_1A" target="_blank">
        <img src="../images/youtube.png" alt="YouTube Logo">
          Youtube
        </a>
      </div>
        <p>|</p>
      <div class="link">
        <a href="https://discord.gg/2JgqEMNfyr" target="_blank">
          <img src="../images/discord.png" alt="Discord Logo">
          Discord
        </a>
      </div>
        <p>|</p>
      <div class="link">
        <a href="/agnabot">
          <img src="../images/agnabot.png" alt="AGNABOT Logo">
          AGNABOT
        </a>
      </div>
    </p>  
  </div>
</div>
<div class="bottom-container">

<div class="gradient-transition"></div>

<div class="about-container">
  <div class="about">
    <h1>hallo</h1>
    <p> - my name is <a class="nice">AGNAB</a> <br>
      - i use he/him pronouns<br>
      - amateur musician, artist, and coder<br>
      - my two favorite games are <a class="nice">ULTRAKILL</a> and <a class="nice">Minecraft</a><br>
      - my timezone is CST (it's <br>currently <a class="nice" id="timestamp">loading...</a>)
    </p>
    <!-- i put intentional linebreaks here because i dont want to deal with wrapping :   ( -->
  </div>
  <div class="spacer-container">
    <div class="cool-spacer" style="background-color: var(--2)"></div>
    <div class="cool-spacer" style="background-color: var(--3)"></div>
    <div class="cool-spacer" style="background-color: var(--4)"></div>
    <div class="cool-spacer" style="background-color: var(--6)"></div>
  </div>
</div>

<div class="icon-container">
  <img src="images/jasper.png" class="icon">
  <a href="https://www.youtube.com/@lusterthesandwing0420" target="_blank">
    <p class="caption">image by luster</p>
  </a>
</div>

</div>

<!-- <div class="portfolio-container">
  <p class="placeholder">there will hopefully be a cool portfolio here in the future documenting my cool projects :   )</p>
</div> -->

<div class="footer-container">
<table class="footer">
  <th class="top-table">Navigation</th>
  <tr>

    <th class="link-table"><a href="/">Home</a></th>
    <!-- placeholder -->
  </tr>
  <tr>

    <th class="link-table"><a href="/agnabot">AGNABOT</a></th>
    <!-- placeholder -->
  </tr>
  <tr>

    <th class="link-table"><a href="/wiadn">WIADN (what is AGNAB doing now)</a></th>
    <!-- placeholder -->
  </tr>
</table>
</div>

<script src="../js/home.js"></script>
</body>