<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="agnab.site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://agnab.onrender.com" />
  <meta property="og:image" content="/jasper.png" />
  <meta property="og:description" content="epic agnab website WOW" />
  <meta name="theme-color" content="#235218">
  <title>WIADN (what is agnab doing now)</title>
  <link rel="stylesheet" href="../css/wiadn.css">
</head>
<body>

  <div class="container">
    
    <div class="top-container">
      <h1 class="title">WIADN</h1>
      <h3 class="subtitle">(what is agnab doing now)</h3>
    </div>
    <div class="wiadn-container">
      <img src="" id="wiadnImage">
      <div class="wiadn-text">
        <h1 id="wiadnHeader">hello</h1>
        <h3 id="wiadnDescriptor">(this is a thing)</h3>    
      </div>
    </div>

  </div>
  <script src="../js/wiadn.js"></script>

</body>
</html>
